@font-face {
  font-family: 'myriad-pro-regular';
  src:  url('myriad-pro-regular.ttf') format('ttf'),
}
a {
  color: #2398f4;
}
a:hover {
  color: #777;
  text-decoration: none;
}
body {
  font-family: "myriad-pro-regular" sans-serif;
}
h1 {
  color: #fff;
}
h2 {
  color: #2398f4;
  margin-bottom: 0.5em;
}
h3 {
  color: #2398f4;
}
h5 {
  color: #777;
  margin: 0;
}
input {
  width:100%;
}
p {
  color: #fff;
}

/* Global classes */
.dark-blue { background-color: #114570; }
.green { background-color: #31cc66; }
.light-blue { background-color: #2398f4; }
.left { float: left; }
.right { float: right; }
/* End global classes */

/* Utility nav */
.left-utility-spacer {
  margin: 0.5em 0 0 -1em;
}
.right-utility-spacer {
  margin: 0.5em 0 0 0;
}
.utility-text {
  margin-top: 1em;
}
.utility-help {
  margin: 1em 0 0 1.25em;
}
.utility-settings {
  margin-top: 1em;
}
/* End utility nav */

/* Menu sprites */
.icon-dashboard-green:hover {
  background: url(../img/sprites.png) no-repeat;
	background-position: 0 -1px ;
}
.icon-customers-green:hover {
  background: url(../img/sprites.png) no-repeat;
  background-position: -60px 0;
}
.icon-messages-green:hover {
  background: url(../img/sprites.png) no-repeat;
  background-position: -125px 0;
}
.icon-promotions-green:hover {
  background: url(../img/sprites.png) no-repeat;
  background-position: -186px 0;
}
.icon-page-creator-green:hover {
  background: url(../img/sprites.png) no-repeat;
  background-position: -240px 0;
}
.icon-analytics-green:hover {
  background: url(../img/sprites.png) no-repeat;
  background-position: -288px 0;
}
/* End menu sprites */

/* Menu positioning */
.menu-nav {
  padding: 0 0 0 0
}
.marker {
  /* placeholder until figure out marker */
}
.dashboard {
  margin-top: 1em;
}
.dashboard-shadow {
  margin-top: 1em;
}
.customers {
  margin-top: 1.5em;
}
.customers-shadow {
  margin-top: 1.5em;
}
.messages {
  margin-top: 1.5em;
}
.messages-shadow {
  margin-top: 1em;
}
.promotions {
  margin-top: 1.25em;
}
.promotions-shadow {
  margin-top: 1em;
}
.page-creator {
  margin-top: 1.25em;
}
.page-creator-shadow {
  margin-top: 1em;
}
.analytics {
  margin-top: 1.25em;
}
.analytics-shadow {
  margin-top: 1em;
}
/* End Menu */

/* Page title */
.dashboard-menu {
  margin: 2em 0 0 0;
  border-radius: 10px;
}
.menu-title {
  margin: 0.33em 0 0.33em 0;
}
.search {
  border: 0;
  height: 1.75em;
  border-radius: 2px;
  margin:1.5em 0 1.5em 0;
}
/* End page title */

/* Announcements */
.announcement {
  color: #777;
  padding-top: 1em;
}
.announcements-border {
  border: 1px;
  border-color: #ccc;
  border-style: solid;
}
.announcements-menu {
  margin-top: 2em;
}
.announcements-title {
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 1px;
  border-style: solid;
  border-color: #ccc;
  color: #fe7f13;
  margin-bottom: 0px;
}
/* End announcements */

/* Sidebar */
.sidebar-border {
  border-top: 0px;
  border-left: 1px;
  border-bottom: 0px;
  border-right: 1px;
  border-style: solid;
  border-color: #ccc;
}

/* Tasks menu */
.tasks-border {

}
.tasks-settings {
  margin: 2em 1em 0 0;
}
/* End tasks menu */

/* Recommendations menu */
.heading {
  margin: 0;
}
.recommendation {
  color: #777;
  font-size:12pt;
  margin-bottom: 1.5em;
}
.recommendation-type {
  color: #777;
  font-size: 8pt;
}
/* End recommendations menu */

/* Analytics menu */

/* Bar graph */
/* End bar graph */

/* Channels and referrals */
/* End channels and referrals */

/* Social media key */
/* End Social media key */

/* End analytics menu */

/* Contacts and Customers */
/* End Contacts and Customers */

/* Did you know */
.slider {
  border-radius: 5px;
  padding-top: 2em;
  padding-bottom: 1em;
}
/* End Did you know */

/* Promotions */
/* End Promotions */

/* Status bar */
/* End Status bar */
